course04-convolutional-neural-networks/week02-deep-convolutional-models-case-studies/residual-networks/resnet50.h5 
*.pyc
course04-convolutional-neural-networks/week03-object-detection/autonomous-driving-car-application-car-detection/model_data/variables/variables.data-00000-of-00001
course04-convolutional-neural-networks/week04-special-applications-face-recognition-and-neural-style-transfer/art-generation-with-neural-style-transfer/pretrained-model/imagenet-vgg-verydeep-19.mat 
